In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# 3. Vấn đề 1: Tiến hành tải dữ liệu vào chương trình ứng dụng Python và giải quyết vấn đề “Missing header in the csv file”

column_names = ["Id", "Name", "Age", "Weight", "m0006", "m0612", "m1218", "f0006", "f0612", "f1218"]
df = pd.read_csv("/content/patient_heart_rate.csv", names=column_names, on_bad_lines='skip')
print(df.head())

    Id            Name   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218
0  1.0    Mickéy Mousé  56.0       70kgs    72    69    71     -     -     -
1  2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
2  3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
3  4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
4  5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75

In [ ]:
# 4. Vấn đề 2: Xử lý vấn đề một cột lưu hỗn hợp nhiều dữ liệu, ở đây là cột “Name” chứa bao gồm “Firstname” và “Lastname”, giải pháp là ta sẽ tách ra làm 2 cột

df[['Firstname', 'Lastname']] = df['Name'].str.split(expand=True)
df = df.drop('Name', axis=1)
print(df)

      Id   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    1.0  56.0       70kgs    72    69    71     -     -     -    Mickéy
1    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
2    3.0  16.0         NaN     -     -     -    65    69    72      Mini
3    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
4    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
5    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
6    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
7    8.0  32.0       78kgs    78    76    75     -     -     -    Scööpy
8    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
9    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
10   9.0  52.0      189lbs     -     -     -    68    75    72      Huey
11  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
12  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
13  12.0  34.0         NaN    65    67    55     -     -     -    Michel
14  13.0   NaN         NaN     -     -     -    68    72    70      Tana
15  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname
0     Mousé
1      Duck
2     Mouse
3    McDuck
4   Panther
5    McDuck
6    McDuck
7       Doo
8       NaN
9       NaN
10   McDuck
11   McDuck
12      Nam
13     Long
14    Ricky
15      NaN

In [ ]:
# 5. Vấn đề 3: Cột Weight có vấn đề về không thống nhất các đơn vị đo lường trong dữ liệu. Ta sẽ chuyển các đơn vị về thành đơn vị chuẩn “kg”
weight = df['Weight']
for i in range (0,len(weight)):
  x = str(weight[i])
  if "lbs" in x[-3:]:
    x = x[:-3:]
    float_x = float(x)
    y = int(float_x/2.2)
    y = str(y)+"kgs"
    weight[i] = y
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
8    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
9    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
10   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

<ipython-input-20-b868c336e218>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
<ipython-input-20-b868c336e218>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
<ipython-input-20-b868c336e218>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
<ipython-input-20-b868c336e218>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
<ipython-input-20-b868c336e218>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y

In [ ]:
# 6. Vấn đề 4: Vấn đề về xuất hiện dòng dữ liệu rỗng (không có giá trị: NaN). Giải pháp có thể đưa ra là xóa bỏ
df.dropna(how='all', inplace=True)
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
10   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

In [ ]:
# 7. Vấn đề 5: Có nhiều dòng dữ liệu bị trùng lắp thông tin hoàn toàn[fullname, lastname, age, weight,....], giải pháp đưa ra là chỉ giữ lại một dòng dữ liệu, tuy nhiên giải pháp phải dựa trên nghiệp vụ của tập dữ liệu và quan sát của người xử lý.
df = df.drop_duplicates(subset=['Firstname', 'Lastname', 'Age', 'Weight'])
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

In [ ]:
# 8. Vấn đề 6: Xuất hiện dữ liệu bị ảnh hưởng bởi lỗi non-ASCII, không định dạng ASCII. Giải pháp: Tùy vào nghiệp vụ ta có thể: xóa dữ liệu tại đó, thay thế bằng dữ liệu khác hoặc thay bằng việc đánh dấu bằng một kí tự khác (ví dụ: ‘warning’)

df.Firstname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
df.Lastname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -      Scpy      Doo
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

<ipython-input-23-f18b2c69c9d9>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Firstname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
<ipython-input-23-f18b2c69c9d9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Firstname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
<ipython-input-23-f18b2c69c9d9>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Lastname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
<ipython-input-23-f18b2c69c9d9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Lastname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)

In [ ]:
# 9. Vấn đề 7: “Missing values”, vấn đề này xảy ra tại các cột “Age”, “Weight” và “Heart Rate”.

index_ageweightnull = df[df['Age'].isna() & df['Weight'].isna()].index
print(index_ageweightnull)
df.drop(index_ageweightnull, inplace=True)
df['Age'].fillna(df['Age'].mean(), inplace=True)
print(df)

Index([14], dtype='int64')
      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0  36.1  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -      Scpy      Doo
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0  36.1  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

<ipython-input-24-32a048ad7e1f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(index_ageweightnull, inplace=True)
<ipython-input-24-32a048ad7e1f>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
<ipython-input-24-32a048ad7e1f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'].fillna(df['Age'].mean(), inplace=True)

In [ ]:
# 10. Vấn đề 8: “một cột chứa quá nhiều thông tin cần được phân rã”, như trong bài toán này ta thấy header “m0006” chứa các nội dung bao gồm: m → male, 1218 ~ 12-18 (mm-dd).

df = pd.melt(df,id_vars=['Id','Age','Weight','Firstname','Lastname'], value_name='PulseRate',var_name='sex_and_time').sort_values(['Id','Age','Weight','Firstname','Lastname'])
tmp_df = df['sex_and_time'].str.extract('(\D)(\d+)(\d{2})', expand=True)

tmp_df.columns = ['Sex', 'hours_lower', 'hours_upper']

tmp_df['Time'] = tmp_df['hours_lower'] + '-' + tmp_df['hours_upper']
df = pd.concat([df, tmp_df], axis=1)
df = df.drop(['sex_and_time','hours_lower','hours_upper'], axis=1)
df = df.dropna()
print(df)

      Id   Age Weight Firstname Lastname PulseRate Sex   Time
0    1.0  56.0  70kgs     Micky     Mous        72   m  00-06
12   1.0  56.0  70kgs     Micky     Mous        69   m  06-12
24   1.0  56.0  70kgs     Micky     Mous        71   m  12-18
36   1.0  56.0  70kgs     Micky     Mous         -   f  00-06
48   1.0  56.0  70kgs     Micky     Mous         -   f  06-12
60   1.0  56.0  70kgs     Micky     Mous         -   f  12-18
1    2.0  34.0  70kgs    Donald     Duck         -   m  00-06
13   2.0  34.0  70kgs    Donald     Duck         -   m  06-12
25   2.0  34.0  70kgs    Donald     Duck         -   m  12-18
37   2.0  34.0  70kgs    Donald     Duck        85   f  00-06
49   2.0  34.0  70kgs    Donald     Duck        84   f  06-12
61   2.0  34.0  70kgs    Donald     Duck        76   f  12-18
3    4.0  36.1  78kgs   Scrooge   McDuck        78   m  00-06
15   4.0  36.1  78kgs   Scrooge   McDuck        79   m  06-12
27   4.0  36.1  78kgs   Scrooge   McDuck        72   m  12-18
39   4.0  36.1  78kgs   Scrooge   McDuck         -   f  00-06
51   4.0  36.1  78kgs   Scrooge   McDuck         -   f  06-12
63   4.0  36.1  78kgs   Scrooge   McDuck         -   f  12-18
4    5.0  54.0  90kgs      Pink  Panther         -   m  00-06
16   5.0  54.0  90kgs      Pink  Panther         -   m  06-12
28   5.0  54.0  90kgs      Pink  Panther         -   m  12-18
40   5.0  54.0  90kgs      Pink  Panther        69   f  00-06
64   5.0  54.0  90kgs      Pink  Panther        75   f  12-18
5    6.0  52.0  85kgs      Huey   McDuck         -   m  00-06
17   6.0  52.0  85kgs      Huey   McDuck         -   m  06-12
29   6.0  52.0  85kgs      Huey   McDuck         -   m  12-18
41   6.0  52.0  85kgs      Huey   McDuck        68   f  00-06
53   6.0  52.0  85kgs      Huey   McDuck        75   f  06-12
65   6.0  52.0  85kgs      Huey   McDuck        72   f  12-18
6    7.0  19.0  56kgs     Dewey   McDuck         -   m  00-06
18   7.0  19.0  56kgs     Dewey   McDuck         -   m  06-12
30   7.0  19.0  56kgs     Dewey   McDuck         -   m  12-18
42   7.0  19.0  56kgs     Dewey   McDuck        71   f  00-06
54   7.0  19.0  56kgs     Dewey   McDuck        78   f  06-12
66   7.0  19.0  56kgs     Dewey   McDuck        75   f  12-18
7    8.0  32.0  78kgs      Scpy      Doo        78   m  00-06
19   8.0  32.0  78kgs      Scpy      Doo        76   m  06-12
31   8.0  32.0  78kgs      Scpy      Doo        75   m  12-18
43   8.0  32.0  78kgs      Scpy      Doo         -   f  00-06
55   8.0  32.0  78kgs      Scpy      Doo         -   f  06-12
67   8.0  32.0  78kgs      Scpy      Doo         -   f  12-18
8   10.0  12.0  45kgs     Louie   McDuck         -   m  00-06
20  10.0  12.0  45kgs     Louie   McDuck         -   m  06-12
32  10.0  12.0  45kgs     Louie   McDuck         -   m  12-18
44  10.0  12.0  45kgs     Louie   McDuck        92   f  00-06
56  10.0  12.0  45kgs     Louie   McDuck        95   f  06-12
68  10.0  12.0  45kgs     Louie   McDuck        87   f  12-18
9   11.0  36.1  60kgs     Henry      Nam        78   m  00-06
21  11.0  36.1  60kgs     Henry      Nam        75   m  06-12
33  11.0  36.1  60kgs     Henry      Nam        72   m  12-18
45  11.0  36.1  60kgs     Henry      Nam         -   f  00-06
57  11.0  36.1  60kgs     Henry      Nam         -   f  06-12
69  11.0  36.1  60kgs     Henry      Nam         -   f  12-18

In [ ]:
df.to_csv('result.csv')

In [ ]:
# 11. Hãy khảo sát tỉ lệ dữ liệu thiếu trên biến huyết áp. Dữ liệu bị thiếu thì hãy xử lý bằng phương pháp sau

df["PulseRate"] = pd.to_numeric(df["PulseRate"], errors="coerce")
def fill_missing_bp(series):
    series = series.copy()
    indices = series[series.isna()].index

    for i in indices:
        prev_idx = i - 1 if i - 1 in series.index else None
        next_idx = i + 1 if i + 1 in series.index else None

        if prev_idx is not None and next_idx is not None:
            if not pd.isna(series[prev_idx]) and not pd.isna(series[next_idx]):
                series[i] = (series[prev_idx] + series[next_idx]) / 2
                continue

        if prev_idx is not None and prev_idx - 1 in series.index:
            if not pd.isna(series[prev_idx]) and not pd.isna(series[prev_idx - 1]):
                series[i] = (series[prev_idx] + series[prev_idx - 1]) / 2
                continue

        if next_idx is not None and next_idx + 1 in series.index:
            if not pd.isna(series[next_idx]) and not pd.isna(series[next_idx + 1]):
                series[i] = (series[next_idx] + series[next_idx + 1]) / 2
                continue

        if not series.dropna().empty:
            series[i] = series.dropna().mean()

    return series

df["PulseRate"] = df.groupby("Id")["PulseRate"].transform(fill_missing_bp)

df["PulseRate"] = df.groupby("Sex")["PulseRate"].transform(lambda x: x.fillna(x.mean()))

df["PulseRate"].fillna(df["PulseRate"].mean(), inplace=True)

print(df)

      Id   Age Weight Firstname Lastname  PulseRate Sex   Time
0    1.0  56.0  70kgs     Micky     Mous  72.000000   m  00-06
12   1.0  56.0  70kgs     Micky     Mous  69.000000   m  06-12
24   1.0  56.0  70kgs     Micky     Mous  71.000000   m  12-18
36   1.0  56.0  70kgs     Micky     Mous  70.666667   f  00-06
48   1.0  56.0  70kgs     Micky     Mous  70.666667   f  06-12
60   1.0  56.0  70kgs     Micky     Mous  70.666667   f  12-18
1    2.0  34.0  70kgs    Donald     Duck  81.666667   m  00-06
13   2.0  34.0  70kgs    Donald     Duck  81.666667   m  06-12
25   2.0  34.0  70kgs    Donald     Duck  81.666667   m  12-18
37   2.0  34.0  70kgs    Donald     Duck  85.000000   f  00-06
49   2.0  34.0  70kgs    Donald     Duck  84.000000   f  06-12
61   2.0  34.0  70kgs    Donald     Duck  76.000000   f  12-18
3    4.0  36.1  78kgs   Scrooge   McDuck  78.000000   m  00-06
15   4.0  36.1  78kgs   Scrooge   McDuck  79.000000   m  06-12
27   4.0  36.1  78kgs   Scrooge   McDuck  72.000000   m  12-18
39   4.0  36.1  78kgs   Scrooge   McDuck  76.333333   f  00-06
51   4.0  36.1  78kgs   Scrooge   McDuck  76.333333   f  06-12
63   4.0  36.1  78kgs   Scrooge   McDuck  76.333333   f  12-18
4    5.0  54.0  90kgs      Pink  Panther  72.000000   m  00-06
16   5.0  54.0  90kgs      Pink  Panther  72.000000   m  06-12
28   5.0  54.0  90kgs      Pink  Panther  72.000000   m  12-18
40   5.0  54.0  90kgs      Pink  Panther  69.000000   f  00-06
64   5.0  54.0  90kgs      Pink  Panther  75.000000   f  12-18
5    6.0  52.0  85kgs      Huey   McDuck  71.666667   m  00-06
17   6.0  52.0  85kgs      Huey   McDuck  71.666667   m  06-12
29   6.0  52.0  85kgs      Huey   McDuck  71.666667   m  12-18
41   6.0  52.0  85kgs      Huey   McDuck  68.000000   f  00-06
53   6.0  52.0  85kgs      Huey   McDuck  75.000000   f  06-12
65   6.0  52.0  85kgs      Huey   McDuck  72.000000   f  12-18
6    7.0  19.0  56kgs     Dewey   McDuck  74.666667   m  00-06
18   7.0  19.0  56kgs     Dewey   McDuck  74.666667   m  06-12
30   7.0  19.0  56kgs     Dewey   McDuck  74.666667   m  12-18
42   7.0  19.0  56kgs     Dewey   McDuck  71.000000   f  00-06
54   7.0  19.0  56kgs     Dewey   McDuck  78.000000   f  06-12
66   7.0  19.0  56kgs     Dewey   McDuck  75.000000   f  12-18
7    8.0  32.0  78kgs      Scpy      Doo  78.000000   m  00-06
19   8.0  32.0  78kgs      Scpy      Doo  76.000000   m  06-12
31   8.0  32.0  78kgs      Scpy      Doo  75.000000   m  12-18
43   8.0  32.0  78kgs      Scpy      Doo  76.333333   f  00-06
55   8.0  32.0  78kgs      Scpy      Doo  76.333333   f  06-12
67   8.0  32.0  78kgs      Scpy      Doo  76.333333   f  12-18
8   10.0  12.0  45kgs     Louie   McDuck  91.333333   m  00-06
20  10.0  12.0  45kgs     Louie   McDuck  91.333333   m  06-12
32  10.0  12.0  45kgs     Louie   McDuck  91.333333   m  12-18
44  10.0  12.0  45kgs     Louie   McDuck  92.000000   f  00-06
56  10.0  12.0  45kgs     Louie   McDuck  95.000000   f  06-12
68  10.0  12.0  45kgs     Louie   McDuck  87.000000   f  12-18
9   11.0  36.1  60kgs     Henry      Nam  78.000000   m  00-06
21  11.0  36.1  60kgs     Henry      Nam  75.000000   m  06-12
33  11.0  36.1  60kgs     Henry      Nam  72.000000   m  12-18
45  11.0  36.1  60kgs     Henry      Nam  75.000000   f  00-06
57  11.0  36.1  60kgs     Henry      Nam  75.000000   f  06-12
69  11.0  36.1  60kgs     Henry      Nam  75.000000   f  12-18

<ipython-input-29-987cfe1e1922>:43: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["PulseRate"].fillna(df["PulseRate"].mean(), inplace=True)

In [ ]:
# 12. Hãy rút gọn dữ liệu phù hợp và reindex lại dữ liệu. Sau đó, lưu trữ dữ liệu đã xử lý thành công với tên file patient_heart_rate_clean.csv
df = df[["Id", "Age", "Weight", "PulseRate", "Sex", "Time"]]
df.reset_index(drop=True, inplace=True)

df.to_csv("patient_heart_rate_clean.csv", index=False)